<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h2 class="">以下の内容で登録してよろしいですか？</h2>
      <div class="form-group">
        <p>カテゴリ</p>
        <%= @purpose.classification %>
      </div> 
      <div class="form-group">
        <p>タイトル</p>
        <%= @purpose.title %>
      </div>       
      <div class="form-group">
        <p>目的の説明</p>
        <%= @purpose.description %>
      </div> 
      <div class="form-group">
        <p>image</p>
        <%= image_tag @purpose.image.url %>
      </div>

      <% @purpose.tasks.each do |task| %>
        <div><%= task.list %></div>
      <% end %>

      <% @purpose.tasks.each do |task| %>
        <div><%= task.percent %>%</div>
      <% end %>
      
      <%= form_for @purpose, multipart: :true do |form| %>
        <%= form.hidden_field :classification, :value => @purpose.classification  %>
        <%= form.hidden_field :title, :value => @purpose.title %> 
        <%= form.hidden_field :description, :value => @purpose.description %>  
        <%= form.hidden_field :image_cache, :value => @purpose.image_cache %>
        <%= form.hidden_field :user_id, :value => @purpose.user_id %>

      <%= form.fields_for :tasks do |t| %>
        <%= t.hidden_field :list, :value => t.list %><br>
        <%= t.hidden_field :percent, :value => t.percent　%>
      <% end %>        

        <%= form.submit "登録", class: 'btn btn-secondary' %>
        <%= form.submit "戻る", name: :back, class: 'btn btn-secondary' %>
      <% end %>  
  </div>
</div>

