<h2>目的</h2>
<p>カテゴリ:<%= @purpose.classification %></p>
<p><%= @purpose.title %></p>
<p><%= @purpose.description %></p>
<p><%= image_tag @purpose.image_url if @purpose.image? %></p>

<p>参加人数：<%= @purpose.participant_users.count %>人</p>

<div class="average-score-rate" data-score=<%= @average_score %>></div>
<div><%= link_to "レビュー詳細", purpose_scores_path(purpose_id: @purpose.id), class: 'btn btn-secondary' %></div>

<% if user_signed_in? %>
　<div>
  <% if @purpose.participanted_by?(current_user) %>

  <h3>タスクの詳細</h3>
    <% @purpose.tasks.each do |task| %>
      <div class="mt-2">
        <%= task.list %>：
        <%= task.percent %>%
      </div>
    <% end %>

  <% if @purpose.scored_by?(current_user) %>
    <div class="mt-5">
      <%= link_to "マイページ", user_path(id: current_user.id), class: 'btn btn-secondary' %>
    </div>
  <% else %>
      <div class="mt-5">
      <%= link_to "マイページ", user_path(id: current_user.id), class: 'btn btn-secondary' %>
      <%= link_to "評価する", new_purpose_score_path(purpose_id:@purpose.id), class: 'btn btn-secondary' %>
    </div>
  <% end %>

  <% else %>

  <h3>タスクの設定</h3>
    <% @purpose.tasks.each do |task| %>
      <div class="mt-2">
        <%= task.list %>：
        <%= task.percent %>%
      </div>
    <% end %>  

  <div class="mt-2">
    <%= link_to "マイページ", user_path(id: current_user.id), class: 'btn btn-secondary' %>
    <%= link_to "この目的に参加する", new_purpose_participant_path(@purpose.id), class: 'btn btn-secondary' %>
  </div>  
  <% end %>
  </div>
<% end %> 

<script>
  $('.average-score-rate').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
