<%= render 'layouts/flash_tasks' %>
<h2>id:<%= @task.id %>タスクの詳細</h2>

<ul>
  <p><%= @task.list %> <%= @task.percent %>%</p>
</ul>

<%= link_to '一覧へ戻る', tasks_path %>
<%= link_to 'タスクを編集', edit_task_path %>
<%= link_to  'タスクを削除', @task, method: :delete, data:{ confirm: '本当によろしいですか？' }  %>