<h2>進捗管理</h2>

<p>カテゴリ:<%= @purpose.classification %></p>
<p><%= @purpose.title %></p>
<p><%= @purpose.description %></p>
<p><%= image_tag @purpose.image_url if @purpose.image? %></p>


<% @purpose.tasks.each do |task| %>
  <div class="mt-2">

    <%= form_for @participant_task do |form| %>
      <%= task.list %>：
      <%= task.percent %>%
      <%= select :status,:name,ParticipantTask.statuses_i18n.invert.keys.to_a %>
      <%= form.submit "更新", class: 'btn btn-secondary' %>
    <% end %>
     
  </div>  
<% end %>

