

<%= form_with model: @score, local: true , url: scores_path do |f| %>
    <%= f.text_area :content %>
    <div class="field" id="star">
        <%= f.label :rate,  "星評価 (※必須)" ,id: "e"%>
        <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <script>
        $('#star').raty({
            size     : 36,
            starOff:  '<%= image_tag 'star-off.png' %>',
            starOn : '<%= image_tag 'star-on.png' %>',
            starHalf: '<%= image_tag 'star-half.png' %>',
            scoreName: 'comment[rate]',
        });
    </script>
    <%= f.submit %>
<% end %>

