<%= form_for [@purpose, @participant] do |form| %>

        <h3><%= @purpose.title %></h3>
        <div class="form-group">
          <p>目的を達成した時のあなたは？</p>
          <%= form.text_area :goal, placeholder: '知識が身について、イケてる自分になる。給与アップしている！' %>  
        </div> 
        <div class="form-group">
          <p>通知設定</p>
          <%= form.radio_button :notice, :line %>LINE
          <%= form.radio_button :notice, :mail %>メール
        </div>
        <div class="form-group">
          <p>通知時間</p>
          <%= form.select :alarm, [["8:00", "8:00"],["9:00", "9:00"],["10:00", "10:00"], ["11:00", "11:00"], ["12:00", "12:00"], ["13:00", "13:00"], ["14:00", "14:00"], ["15:00", "15:00"], ["16:00", "16:00"], ["17:00", "17:00"], ["18:00", "18:00"], ["19:00", "19:00"], ["20:00", "20:00"], ["21:00", "21:00"]], include_blank: "選択して下さい" %>
        </div>
  <%= form.submit "登録完了", class: 'btn btn-secondary' %>
<% end %>