<h2>マイページ</h2>
<p>USER:<%= @user.name %>さん</p>
<p>作成した目的</p>
<% @purposes.each do |purpose| %>
  <p>
    <%= purpose.title %>    
    <%= link_to "詳細", purpose_path(purpose.id), class: 'btn btn-outline-secondary' %>  
  </p>
<% end %>
<p>参加している目的</p>
<% @participant_purposes.each do |purpose| %>
  <p>
    <%= purpose.title %>
    <%= link_to "詳細", purpose_path(purpose.id),class: 'btn btn-outline-secondary' %>
    <%= link_to "進捗", purpose_participant_participant_tasks_path(purpose.id, current_user.participants.find_by(purpose_id: purpose.id)), class: 'btn btn-outline-secondary' %>
  </p>
<% end %>